In [30]:
import cartopy.crs as ccrs # used for map projection
import matplotlib.pyplot as plt # matplotlib
import cartopy.feature as cfeature # used for map projection
import xarray as xr # x-array
import numpy as np # numpy
import urllib.request # download request
import warnings # to suppress warnings
from numpy import linalg as LA # to plot the moments (by calculating the eigenvalues)
from sklearn.cluster import k_means # to perform k-means
from collections import Counter # set operations
import pandas as pd
warnings.filterwarnings('ignore')
obs = pd.read_csv('data/ObsSST_processed.csv')

In [31]:
def map_background(label=False, extent=[-100, 0, 0, 60]):
  # A helpder function for creating the map background.
  # INPUT:
  # "extent": corresponds to the location information of the showed map.
  # "label": boolean

  # OUTPUT:
  # Matplotlib AXES object

  plt.figure(figsize = (20, 10))
  ax = plt.axes(projection=ccrs.PlateCarree())
  ax.coastlines()
  ax.set_extent(extent)
  ax.gridlines(draw_labels=label) # show labels or not
  LAND = cfeature.NaturalEarthFeature('physical', 'land', '10m',
                                      edgecolor='face',
                                      facecolor=cfeature.COLORS['land'],
                                          linewidth=.1)
  OCEAN = cfeature.NaturalEarthFeature('physical', 'ocean', '10m',
                                       edgecolor='face',
                                       facecolor=cfeature.COLORS['water'], linewidth=.1)
  ax.add_feature(LAND, zorder=0)
  ax.add_feature(OCEAN)
  return ax

In [32]:
tks = xr.open_dataset('data/NA_data.nc', engine="netcdf4", decode_times=False)

## Print the tks to take a peek at what's actually in the dataset.
print(tks)

<xarray.Dataset> Size: 618MB
Dimensions:           (storm: 2344, date_time: 360, quadrant: 4)
Coordinates:
    time              (storm, date_time) float64 7MB ...
    lat               (storm, date_time) float32 3MB ...
    lon               (storm, date_time) float32 3MB ...
Dimensions without coordinates: storm, date_time, quadrant
Data variables: (12/147)
    numobs            (storm) float32 9kB ...
    sid               (storm) |S13 30kB ...
    season            (storm) float32 9kB ...
    number            (storm) int16 5kB ...
    basin             (storm, date_time) |S2 2MB ...
    subbasin          (storm, date_time) |S2 2MB ...
    ...                ...
    reunion_gust      (storm, date_time) float32 3MB ...
    reunion_gust_per  (storm, date_time) float32 3MB ...
    usa_seahgt        (storm, date_time) float32 3MB ...
    usa_searad        (storm, date_time, quadrant) float32 14MB ...
    storm_speed       (storm, date_time) float32 3MB ...
    storm_dir         (storm, date_time) float32 3MB ...
Attributes: (12/49)
    title:                      IBTrACS - International Best Track Archive fo...
    summary:                    The intent of the IBTrACS project is to overc...
    source:                     The original data are tropical cyclone positi...
    Conventions:                ACDD-1.3
    Conventions_note:           Data are nearly CF-1.7 compliant. The sole is...
    product_version:            v04r00
    ...                         ...
    history:                    Tue May 28 04:28:18 2024: ncks --no_abc --cnk...
    license:                    These data may be redistributed and used with...
    featureType:                trajectory
    cdm_data_type:              Trajectory
    comment:                    The tracks of TCs generally look like a traje...
    NCO:                        netCDF Operators version 4.8.1 (Homepage = ht...

In [33]:
storm_1 = tks.sel(storm=2000) # notice that the first storm starts with 0 not 1
storm_2 = tks.sel(storm=2001)
name_1 = str(storm_1.name.values)[11:-1] # use this trick to obtain the name string
name_2 = str(storm_2.name.values)[11:-1] # use this trick to obtain the name string
sid_1 = str(storm_1.sid.values,'UTF-8')
sid_2 = str(storm_2.sid.values,'UTF-8')
print(f"\nThe 2001st hurricane, named {name_1}, has a record of {int(storm_1.numobs)} \
observations with sid {sid_1} in year {int(storm_1.season)}.")
print(f"\nThe 2002nd hurricane, named {name_2}, has a record of {int(storm_2.numobs)} \
observations with sid {sid_2} in year {int(storm_2.season)}.")

The 2001st hurricane, named 'ARLENE', has a record of 48 observations with sid 2005160N17276 in year 2005.

The 2002nd hurricane, named 'BRET', has a record of 12 observations with sid 2005180N20265 in year 2005.

In [34]:
# Create DataFrames
storm_1_data = {
    "Timestamp": storm_1.iso_time.values.astype(str),
    "Latitude": storm_1.lat.values,
    "Longitude": storm_1.lon.values,
    "Wind Speed (wmo)": storm_1.wmo_wind.values,
    "USA Status (wmo)": storm_1.usa_status.values
}

storm_2_data = {
    "Timestamp": storm_2.iso_time.values.astype(str),
    "Latitude": storm_2.lat.values,
    "Longitude": storm_2.lon.values,
    "Wind Speed (wmo)": storm_2.wmo_wind.values,
    "USA Status (wmo)": storm_2.usa_status.values
}

df_storm_1 = pd.DataFrame(storm_1_data)
df_storm_2 = pd.DataFrame(storm_2_data)

df_storm_1.head(50)

,Timestamp,Latitude,Longitude,Wind Speed (wmo),USA Status (wmo)
0,2005-06-08 18:00:00,16.900000,-84.000000,25.0,b'TD'
1,2005-06-08 21:00:00,17.120007,-83.942520,NaN,b'TD'
2,2005-06-09 00:00:00,17.400000,-83.900002,30.0,b'TD'
3,2005-06-09 03:00:00,17.777500,-83.885017,NaN,b'TD'
4,2005-06-09 06:00:00,18.200001,-83.900002,35.0,b'TS'
5,2005-06-09 09:00:00,18.607500,-83.942467,NaN,b'TS'
6,2005-06-09 12:00:00,19.000000,-84.000000,35.0,b'TS'
7,2005-06-09 15:00:00,19.357494,-84.050026,NaN,b'TS'
8,2005-06-09 18:00:00,19.700001,-84.099998,35.0,b'TS'
9,2005-06-09 21:00:00,20.042492,-84.142586,NaN,b'TS'
10,2005-06-10 00:00:00,20.400000,-84.199997,40.0,b'TS'
11,2005-06-10 03:00:00,20.677155,-84.282097,NaN,b'TS'
12,2005-06-10 06:00:00,21.200001,-84.400002,45.0,b'TS'
13,2005-06-10 08:00:00,21.799999,-84.500000,45.0,b'TS'
14,2005-06-10 09:00:00,22.098207,-84.548309,NaN,b'TS'
15,2005-06-10 12:00:00,23.000000,-84.699997,50.0,b'TS'
16,2005-06-10 15:00:00,23.962130,-84.883911,NaN,b'TS'
17,2005-06-10 18:00:00,24.900000,-85.099998,55.0,b'TS'
18,2005-06-10 21:00:00,25.934082,-85.410683,NaN,b'TS'
19,2005-06-11 00:00:00,26.500000,-85.599998,60.0,b'TS'
20,2005-06-11 01:00:00,26.500000,-85.599998,60.0,b'TS'
21,2005-06-11 03:00:00,26.819899,-85.946304,NaN,b'TS'
22,2005-06-11 06:00:00,27.699999,-86.800003,60.0,b'TS'
23,2005-06-11 09:00:00,28.319096,-87.094505,NaN,b'TS'
24,2005-06-11 12:00:00,28.900000,-87.199997,55.0,b'TS'
25,2005-06-11 15:00:00,29.500008,-87.396370,NaN,b'TS'
26,2005-06-11 18:00:00,30.100000,-87.500000,50.0,b'TS'
27,2005-06-11 19:00:00,30.299997,-87.500000,50.0,b'TS'
28,2005-06-11 21:00:00,30.726583,-87.526489,NaN,b'TS'
29,2005-06-12 00:00:00,31.400000,-87.599998,30.0,b'TD'
30,2005-06-12 03:00:00,31.978495,-87.637733,NaN,b'TD'
31,2005-06-12 06:00:00,32.700001,-87.699997,25.0,b'TD'
32,2005-06-12 09:00:00,33.797661,-87.870552,NaN,b'TD'
33,2005-06-12 12:00:00,35.000000,-88.000000,20.0,b'TD'
34,2005-06-12 15:00:00,36.059895,-87.946114,NaN,b'TD'
35,2005-06-12 18:00:00,37.000000,-87.800003,20.0,b'TD'
36,2005-06-12 21:00:00,37.749176,-87.743553,NaN,b'TD'
37,2005-06-13 00:00:00,38.500000,-87.500000,20.0,b'TD'
38,2005-06-13 03:00:00,39.501453,-86.807274,NaN,b'TD'
39,2005-06-13 06:00:00,40.500000,-86.000000,20.0,b'TD'
40,2005-06-13 09:00:00,41.324108,-85.459885,NaN,b'TD'
41,2005-06-13 12:00:00,42.000000,-85.000000,20.0,b'LO'
42,2005-06-13 15:00:00,42.556675,-84.638611,NaN,b'LO'
43,2005-06-13 18:00:00,43.000000,-84.000000,20.0,b'EX'
44,2005-06-13 21:00:00,43.343067,-82.733688,NaN,b'EX'
45,2005-06-14 00:00:00,43.700001,-81.099998,20.0,b'EX'
46,2005-06-14 03:00:00,44.206749,-79.371925,NaN,b'EX'
47,2005-06-14 06:00:00,44.799999,-77.599998,20.0,b'EX'
48,,NaN,NaN,NaN,b''
49,,NaN,NaN,NaN,b''

In [39]:
#Handling timestamps in NetCDF (native format of dataset) 
timestamps = storm_2.iso_time.values  # Adjust the variable name if different

# Convert byte strings to pandas datetime, handling missing values
timestamps = pd.to_datetime([t.decode("utf-8") if isinstance(t, bytes) else t for t in timestamps], errors="coerce")

# Drop NaN values
timestamps = timestamps.dropna()

# Extract month and day
years = timestamps.year
months = timestamps.month
days = timestamps.day

# Compute the average month and average day
avg_year = round(np.nanmean(years))
avg_month = round(np.nanmean(months))
avg_day = round(np.nanmean(days))

print(f"Average Storm Time: Year: {avg_year}, Month: {avg_month}, Day: {avg_day}")

anomaly_value = obs.loc[(obs["YR"] == avg_year) & (obs["MON"] == avg_month), "ANOM"]
#season_value = obs.loc[(obs["YR"] == avg_year) & (obs["MON"] == avg_month), "SEAS"]

if not anomaly_value.empty:
    print(f"during this season, the anomaly value was: {anomaly_value.values}")

Average Storm Time: Year: 2005, Month: 6, Day: 29
during this season, the anomaly value was: [0.11]

In [28]:
obs

     Unnamed: 0    YR  MON  TOTAL  ANOM    STATE
0             0  1950    1  24.72 -1.53     cold
1             1  1950    2  25.17 -1.34     cold
2             2  1950    3  25.75 -1.16     cold
3             3  1950    4  26.12 -1.18     cold
4             4  1950    5  26.32 -1.07     cold
..          ...   ...  ...    ...   ...      ...
895         895  2024    8  26.85 -0.11  neutral
896         896  2024    9  26.55 -0.21  neutral
897         897  2024   10  26.45 -0.26  neutral
898         898  2024   11  26.30 -0.37  neutral
899         899  2024   12  26.08 -0.53  neutral

[900 rows x 6 columns]